$dp-w: 100vw;
$dp-h: 100vh;

body,
p {
	font-size: font-scale(16);
}



.logo {
	@include trs();

	position: fixed;
	z-index: 100;
//	margin-top: vh(42);
	margin-top: 39px;
	color: $white;
	text-align: center;
	font-size: 110px;
	font-family: icomoon;
	line-height: 105px;
	size: 200px 105px;

	&.is-alt {
		color: $black;
	}
}

.dp-block {
	position: relative;
	overflow: hidden;
	height: $dp-h;
}
.half-color {
	position: relative;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		display: block;
		width: 50%;
		height: 100%;
		background-color: $theme-color-alt;
		content: '';
	}
}



.header {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	width: 100%;
	color: $white;

	&:after {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		display: block;
		background-color: rgba(0, 0, 0, 0.5);
		content: '';
	}
	&__logo-place {
//		margin-top: vh(42);
		margin-top: 39px;
		background-color: $theme-color;
		size: 200px 105px;

		span {
			@include breakpoint(1200 down) {
				padding-top: 12px;
				padding-left: 25px;
				font-size: 18px;
				line-height: 1.5;
			}
			@include breakpoint(960 down) {
				width: 385px;
			}

			display: block;
			margin-left: 200px;
			padding-top: 8px;
			padding-left: 33px;
//			border-bottom: 1px solid $theme-color;
			font-weight: 700;
			font-size: 22px;
			line-height: 1.41;
			size: 40vw 105px
		}
	}
	&__video {
		@extend %cam;

		z-index: -1;
		min-width: $dp-w;
		min-height: $dp-h;
	}
	&__title {
		@extend %cam;

		width: 80%;
		text-align: center;
		text-transform: uppercase;

		span {
			text-transform: none;
			font-family: You2013;
		}
	}
	&__unknown-shit {
		@extend %ham;

		bottom: 0;
		width: 1px;
		height: 30vh;
		background-color: $white;

		&:after {
			position: absolute;
			top: -7px;
			left: -6px;
			display: block;
			border-radius: 50%;
			background-color: $theme-color;
			content: '';
			size: 13px;
		}
	}
}

.section-title {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	size: 100%;
}

.section-content {
	position: relative;
	z-index: 1;

	&:before {
		display: block;
		margin-bottom: 50px;
		background-color: $theme-color;
		content: '';
		size: vw(66) 2px;
	}
	&__para {
		line-height: 1.2;
	}
}

.project,
.solution-a {
	background: linear-gradient(to right, transparent 50%, $theme-color-alt 50%);
}

.project {
	&__title {
		background: url(../img/png/project.png) 6.5% center no-repeat fixed;
		background-size: vh(133 + 17);
	}
	&__bg-img {
		position: absolute;
		top: 5%;
		right: 0;
		height: 90%;
		transform: translateX(42%);
	}
	&__content {
		@extend %vam;

		left: vw(268);
		max-width: vw(805);
	}
}

.solution-a {
	&__title {
		background: url(../img/png/solution-a.png) 93.5% center no-repeat fixed;
		background-size: vh(130 + 17);
	}
	&__content {
		@extend %cam;

		transform: translate(-50%, -65%);
	}
}

.tv {
	min-height: vh(650);
	width: vw(800);
	text-align: center;

	&__monitor {
		@extend %ham;

		top: 50%;
		width: 100%;
		transform: translate(-50%, -36.8%);
	}
	&__labels {
		position: absolute;
		top: 50%;
		right: calc(100% + 25 * 100vw / 1600);
		margin: 0;
		width: 100%;
		list-style-type: none;
		text-align: right;
		transform: translateY(-50%);
		
	}
	&__labels-item {
		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				@include trs(0.3s, $delay: $i * 0.1s)
			}
		}

		position: relative;
		opacity: 0;
		transform: translateX(20px);

		&:after {
			@include trs($delay: 0.1s);

			position: relative;
			left: calc(5 * 100vw / 1600);
			display: inline-block;
			content: '';
			vertical-align: middle;
			triangle: pointing-right;
			width: 6px;
			height: 7px;
			background-color: transparent;
		}
		.is-visible & {
			opacity: 1;
			transform: translateX(0);
		}
		&.is-active:after {
			left: calc(10 * 100vw / 1600);
			border-left-color: $theme-color;
		}
	}
	&__labels-link {
		@include trs();

		color: $medium-gray;
		font-size: font-scale(16);
		line-height: vw(50);

		.is-active & {
			color: $theme-color;
			font-size: font-scale(18);
		}
	}
	&__display {
		@extend %cam;

		margin: 0;
		width: vw(710);
		height: vw(394);
		background: linear-gradient(to right, #fff 95.5%, transparent 95.5%);
		list-style-type: none;

		.mCSB { // scroll-bar
			$btn-arrow-size: 32%;
			$btn-arrow-angle: 30deg;

			&_scrollTools {
				width: vw(15);
			}
			&_container {
				margin-right: vw(18 + 15);
			}
			&_buttonUp,
			&_buttonDown {
				height: vw(15);
				border-radius: 50%;
				background-color: $theme-color;
				opacity: 1;

				&:after,
				&:before {
					@extend %cam;

					display: block;
					width: $btn-arrow-size;
					height: 1px;
					background-color: $white;
					content: '';
				}
			}
			&_buttonUp {
				&:before {
					transform: translate(-90%, -75%) rotate(- $btn-arrow-angle);
						}
				&:after {
					transform: translate(-10%, -75%) rotate($btn-arrow-angle);
				}
			}
			&_buttonDown {
				&:before {
					transform: translate(-90%, 25%) rotate($btn-arrow-angle);
				}
				&:after {
					transform: translate(-10%, 25%) rotate(- $btn-arrow-angle);
						}
			}
			&_draggerContainer {
				margin: vw(25) 0 !important;
			}
			&_draggerRail {
				background: $white;
			}
			&_dragger_bar {
				width: 100% !important;
				background-color: $theme-color !important;
				opacity: 1 !important;
			}
		}
	}
	&__display-item {
		@include trs(0.4s, opacity);

		opacity: 1;

		&:not(.is-active) {
			visibility: hidden;
			height: 0;
			opacity: 0;
		}
	}
	&__display-view {
		width: 100%;
	}
}

.solution-b {
	background: linear-gradient(to right, transparentize($theme-color, 0.1) 50%, transparent 50%);

	&__title {
		background: url(../img/png/solution-b.png) 6.7% center no-repeat fixed;
		background-size: vh(158 + 17);
	}
	&__static-bg {
		position: absolute;
		top: 0;
		bottom: 100%;
		left: 0;
		z-index: -1;
		overflow: hidden;
		background: url(../img/png/solution-b__bg.png) 87% center no-repeat fixed;
		background-size: 65vw;
		size: 100%;
	}
	&__content {
		@extend %vam;

		top: 50%;
		left: vw(268);
		max-width: 25vw;
		color: $white;

		&:before {
			background-color: $white;
		}
	}
}

.solution-c {
	@include breakpoint(1200 down) {
		background: linear-gradient(to left, transparentize($theme-color, 0.1) 20%, transparent 20%);
	}

	background: linear-gradient(to left, transparentize($theme-color, 0.1) 18%, transparent 18%);

	&:hover {
		-webkit-will-change: transform;
		-moz-will-change: transform;
		-ms-will-change: transform;
		-o-will-change: transform;
		will-change: transform;
	}
	&__title {
		background: url(../img/png/solution-c.png) 93.5% center no-repeat fixed;
		background-size: vh(128 + 17);
	}
	&__content {
		@extend %cam;

		width: 51%;
		text-align: center;
	}
	&__content-section {
		display: inline-block;
		margin-right: -4px;
		padding: 0 2.5%;
		width: 50%;
		vertical-align: middle;
		font-size: 0;
	}
	&__content-block {
		&:not(:last-child) {
			margin-bottom: vh(120);
		}
	}
}

.can {
	$can-angle: 15deg;
	$text-indent: vh(140);

	position: relative;
	clear: fix;

	&__img-wrap {
		position: relative;
		z-index: 1;
	}
	&__img {
		display: inline-block;
		margin: 0;
		height: vh(240);

		&:hover {
			transform: translateZ(0);
			animation: shake 0.82s cubic-bezier(.36,.07,.19,.97);
			backface-visibility: hidden;
			perspective: 0px;
		}
	}
	&__img-picture {
		height: 100%;
	}
	&__img-text {
		@extend %cam;

		margin-top: vh(5);
		color: transparentize(darken($white, 6), 0.05);
		font-size: vh(75);
		font-family: You2013;
		cursor: default;
	}
	&__text {
		@extend %vam;

		padding-bottom: vh(17);
		border-bottom: vh(6) solid $light-gray;
		line-height: 1.5;
	}
	&--left {
		.can__img-wrap {
			float: left;
			transform: rotate($can-angle);
		}
		.can__text {
			padding-left: $text-indent;
			text-align: right;
		}
	}
	&--right {
		.can__img-wrap {
			float: right;
			transform: rotate(-$can-angle);
		}
		.can__text {
			padding-right: $text-indent;
			text-align: left;
		}
	}
}

.specific {
	background-color: $theme-color-alt;

	&__title {
		background: url(../img/png/specifics.png) 6.5% center no-repeat fixed;
		background-size: vh(133 + 17);
	}
	&__content {
		@extend %cam;

		z-index: 1;
		display: flex;
		flex-flow: row wrap;
		align-content: space-between;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 960px;
		max-height: 600px;
		size: 70%;
	
	}
	&__content-block {
		width: 48%;
	}
}

.feature {
	&__icon {
		position: relative;
		display: block;

		&:after {
			position: absolute;
			bottom: 0;
			left: font-scale(27);
			display: block;
			background-color: $medium-gray;
			content: '';
			size: 40% 1px;
		}
		span {
			position: relative;
			color: $theme-color;
			font-size: font-scale(64);

			&:after {
				@extend .feature__icon:after;

				top: 10%;
				left: calc(100% + #{vw(10)});
				size: 1px 100%;
			}
		}
	}
	&__text {
		margin-top: vh(5);
		margin-left: calc(#{font-scale(55)} + #{vw(20)});
		max-width: 330px;
		width: 70%;
		line-height: 1.38;
	}
}

.results {
	&__title {
		background: url(../img/png/results.png) 6.5% center no-repeat fixed;
		background-size: vh(108 + 17);
	}
	&__content {
		@extend .project__content;

		width: vw(347);
	}
	&__calendar {
		@extend %vam;

		right: vw(200);
		width: vw(642);
		height: 100%;
	}
}

.calendar {
	$time: 3s;

	background: url(../img/png/calendar.png) center no-repeat,
	            url(../img/png/calendar.png) center no-repeat;
	background-size: contain;

	&.is-active {
		.calendar__top-text {
			transform: translateX(-50%) rotateX(90deg);

			&:first-child {
				transform: translateX(-50%) rotateX(0deg);
			}
		}
	}
	&__text {
		@extend %cam;

		border-radius: 50%;
		background-color: $theme-color;
		color: $white;
		text-align: center;
		size: vw(252);
	}
	&__top-text {
		$unit-time: $time / 6;

		@extend %ham;

		top: 7%;
		display: block;
		font-weight: 700;
		font-size: vw(38);
		line-height: 1;
		transform: translateX(-50%) rotateX(-90deg);
		transform-origin: bottom;
		-webkit-will-change: transform;
		-moz-will-change: transform;
		-ms-will-change: transform;
		-o-will-change: transform;
		will-change: transform;
		perspective: 100px;
		transform-style: preserve-3d;

		&:nth-child(1) { @include trs($time: $unit-time, $delay: $unit-time * 2.5); }		
		&:nth-child(2) { @include trs($time: $unit-time, $delay: $unit-time * 2); }		
		&:nth-child(3) { @include trs($time: $unit-time, $delay: $unit-time * 1.5); }		
		&:nth-child(4) { @include trs($time: $unit-time, $delay: $unit-time); }	
		&:nth-child(5) { @include trs($time: $unit-time, $delay: $unit-time / 2); }	
		&:nth-child(6) { @include trs($time: $unit-time);}	
		&:nth-child(7) {
										 @include trs($time: $unit-time / 2);
 transform: translateX(-50%) rotateX(0deg); }
		span {
			display: block;
			margin-bottom: vw(-15);
			font-weight: 700;
			font-size: vw(110);
		}
	}
	&__bottom-text {
		@extend %ham;

		bottom: 17%;
		display: block;
		width: 80%;
		font-weight: 300;
		font-size: vw(23);
		line-height: 1.05;
	}
}

.cta {
	padding: font-scale(60) vw(40);
	min-height: vh(415);
	background-color: transparentize($theme-color, 0.1);
	text-align: center;

	&__text {
		margin: 0 auto font-scale(50);
		max-width: font-scale(1350, 50);
		color: transparentize($white, 0.2);
		text-shadow: 0px 0px 10px transparentize($white, 0.4);
		font-weight: 700;
		font-size: 100px;
		font-size: font-scale(100, 50);
		line-height: 0.97;
	}
	&__button {
		display: inline-block;
		padding: font-scale(32) font-scale(50);
		border-radius: font-scale(10);
		background-color: transparentize($emph-color, 0.2);
		box-shadow: 0 0 38px transparentize($emph-color, 0.63);
		color: $white !important;
		text-transform: uppercase;
		font-size: font-scale(22);
		line-height: 1;

		&:hover {
			@extend .can__img:hover;

			animation: shake-2 0.4s cubic-bezier(.36,.07,.19,.97);
		}
		&:active {
			@include trs(0.05);

			box-shadow: inset 0 0 1vw transparentize($theme-color, 0.5);
		}
		
	}
}

.footer {
	position: relative;
//	display: flex;
//	flex-flow: row nowrap;
//	justify-content: space-between;
	overflow: hidden;
	padding: vh(30) vw(200) vh(20);
	min-height: vh(158);
	background-color: transparentize($theme-color, 0.1);

	&:before {
		@extend %ham;

		top: 0;
		display: block;
		background-color: $white;
		content: '';
		opacity: 0.5;
		size: 88% 1px;
	}
	&__copyright {
//		display: flex;
//		align-items: center;
		display: inline-block;
		vertical-align: middle;
	}
	&__logo-link {
		display: inline-block;
		vertical-align: middle;
	}
	&__logo-miritec {
		width: vw(234);
	}
	&__logo-ipromo {
		color: $white !important;
		font-size: vw(140);
		line-height: 1;

		&:before {
			display: block;
			margin: -12% 0;
		}
	}
	&__contacts {
		display: inline-block;
		float: right;
	}
	&__contacts a {
		@include trs(0.1s);

		color: $white;

		&:hover,
		&:active {
			color: transparentize($emph-color, 0.2)
		}
	}
	&__email-link {
		font-weight: 400;
		font-size: font-scale(20);
		line-height: 2;

		&:before {
			display: inline-block;
			padding-right: font-scale(12);
			content: "\f0e0";
			font-family: icomoon;
			transform: translateY(font-scale(2));
		}
	}
	&__socials {
		margin-top: vh(5);
		text-align: right;
		font-size: font-scale(35);

		a {
			margin-left: font-scale(10);
		}
	}
}





@keyframes shake {
	$amp: 4deg;

	10%, 90%      { transform: rotate(-$amp / 4); }
	20%, 80%      { transform: rotate($amp / 2); }
	30%, 50%, 70% { transform: rotate(-$amp); }
	40%, 60%      { transform: rotate($amp); }
}
@keyframes shake-2 {
	$amp: 4deg;

	15%, 85%      { transform: rotate(-$amp / 4); }
	30%, 70%      { transform: rotate($amp / 2); }
	50% { transform: rotate(-$amp / 2); }
}
