// Font-face
// ---------
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf otf svg) {
	$src: null;
	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);
	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}
	@font-face {
		font-weight: $weight;
		font-style: $style;
		font-family: quote($name);
		src: $src;
	}
}

// Transition
// ----------
@mixin trs($time: 0.15s, $prop: all, $delay: 0s, $easing: ease-in-out) {
	transition: $prop $time $delay $easing;
}


// Functions
// ---------
@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

@function vh($px) {
	@return strip-unit($px) / 1080 * 100vh;
}

@function vw($px) {
	@return strip-unit($px) / 1600 * 100vw;
}

@function font-scale($px, $perc: 5) {
	$unit: strip-unit($px) + px;

	@return calc(#{$unit} - (1600px - 100vw) * 0.001 * #{$perc});
}