<div class="logo js_logo">&#xe900;</div>
<header class="header dp-block">
	<div class="header__logo-place">
		<span>
			Кейс компании Miritec <br>
			для Coca-Cola Company на рынках <br>
			Украины, Казахстана и Киргизстана
		</span>
	</div>

	<video class="header__video js_video" autoplay loop muted>
		<source src="assets/video/miritec.webm" type="video/webm" />
		<source src="assets/video/miritec.mp4" type="video/mp4" />
		Your browser does not support the video tag.
	</video>

	<h1 class="header__title">
		Share a coke <br>
		<span>Ты в рекламе <img src="./assets/img/png/cola-logo.png" alt="Cola-logo"></span>
	</h1>

	<div class="header__unknown-shit"></div>
</header>


<main class="main">
	<section class="project dp-block js_title-block js_light-box">
		<div class="project__title section-title"></div>
		<img src="./assets/img/png/display-gray.png" alt="" class="project__bg-img">
		
		<div class="project__content section-content">
			<p class="section-content__para">Coca-Cola Company обратилась в международную IT-компанию Miritec , чтобы воплотить в жизнь промо-кампанию по созданию именной баночки Coca-Cola на рынках Казахстана и Киргизии.</p>

			<p class="section-content__para">Благодаря своему инновационному решению iPromo, специалистам Miritec удалось в короткий срок реализовать все технические работы и уже через месяц промо-сайт увидел мир.</p>

			<p class="section-content__para">Каждый участник данного промо может получить персональную баночку Coca-Cola со своим именем или уникальным статусом, предварительно создав её изображение на этом сайте.</p> 

			<p class="section-content__para">Акция получила вирусное распространение  и активна по сей день.</p>
		</div>
	</section>
	
	<section class="solution-a dp-block js_title-block js_light-box js_labels-block">
		<div class="solution-a__title section-title"></div>
		
		<div class="solution-a__content tv">
			<img src="./assets/img/png/monitor.png" alt="Monitor" class="tv__monitor">
			<ul class="tv__labels tabs js_labels" data-tabs id="tv__display">
				<li class="tv__labels-item tabs-title is-active"><a href="#tv__display-panel-1" aria-selected="true" class="tv__labels-link">Share a Coke Home</a></li>
				<li class="tv__labels-item tabs-title"><a href="#tv__display-panel-2" class="tv__labels-link">Create a can</a></li>
				<li class="tv__labels-item tabs-title"><a href="#tv__display-panel-3" class="tv__labels-link">Share Gallery</a></li>
				<li class="tv__labels-item tabs-title"><a href="#tv__display-panel-4" class="tv__labels-link">Share a Coke Tour</a></li>
			</ul>
			<ul class="tv__display tabs-content mCustomScrollbar js_mCustomScrollbar" data-tabs-content="tv__display">
				<li class="tv__display-item tabs-panel is-active" id="tv__display-panel-1"><img src="
					/assets/img/png/Share%20a%20Coke%20Home.png" alt="" class="tv__display-view"></li>
				<li class="tv__display-item tabs-panel" id="tv__display-panel-2"><img src="./assets/img/png/Create%20a%20can.png" alt="" class="tv__display-view"></li>
				<li class="tv__display-item tabs-panel" id="tv__display-panel-3"><img src="./assets/img/png/Share%20Gallery.png" alt="" class="tv__display-view"></li>
				<li class="tv__display-item tabs-panel" id="tv__display-panel-4"><img src="./assets/img/png/Share%20a%20Coke%20Tour.png" alt="" class="tv__display-view"></li>
			</ul>
		</div>
	</section>
	
	<section class="solution-b dp-block js_title-block">
		<div class="solution-b__title section-title"></div>
		<div class="solution-b__static-bg"></div>
		
		<div class="solution-b__content section-content">
			<p class="section-content__para">Контент был адаптирован <br>
				под все виды устройств.</p>
		</div>
	</section>
	
	<section class="solution-c dp-block js_title-block js_light-box">
		<div class="solution-c__title section-title"></div>

		<div class="solution-c__content">
			<div class="solution-c__content-section">
				<div class="solution-c__content-block can can--left">
					<div class="can__img-wrap">
						<figure class="can__img">
							<img src="./assets/img/png/can.png" alt="" class="can__img-picture">
							<span class="can__img-text">1</span>
						</figure>
					</div>
					<p class="can__text">Введи свое имя, чтобы увидеть его в рекламе</p>
				</div>
				
				<div class="solution-c__content-block can can--left">
					<div class="can__img-wrap">
						<figure class="can__img">
							<img src="./assets/img/png/can.png" alt="" class="can__img-picture">
							<span class="can__img-text">3</span>
						</figure>
					</div>
					<p class="can__text">Поделись этим видео с друзьями в социальных сетях</p>
				</div>
			</div>
			
			<div class="solution-c__content-section">
				<div class="solution-c__content-block can can--right">
					<div class="can__img-wrap">
						<figure class="can__img">
							<img src="./assets/img/png/can.png" alt="" class="can__img-picture">
							<span class="can__img-text">2</span>
						</figure>
					</div>
					<p class="can__text">Получи уникальное видео со своим именем</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="specific dp-block js_title-block js_light-box">
		<div class="specific__title section-title"></div>
		
		<div class="specific__content">
			<div class="specific__content-block feature">
				<div class="feature__icon"><span class="icon-cloud"></span></div>
				<p class="feature__text">разработка платформы видео механики на базе облачных технологий Amazon Web Services</p>
			</div>
			
			<div class="specific__content-block feature">
				<div class="feature__icon"><span class="icon-folder"></span></div>
				<p class="feature__text">создание инструмента передачи текстового и графического контента в видеоролике промо</p>
			</div>
			
			<div class="specific__content-block feature">
				<div class="feature__icon"><span class="icon-phone"></span></div>
				<p class="feature__text">разработка нативного мобильного приложения</p>
			</div>
			
			<div class="specific__content-block feature">
				<div class="feature__icon"><span class="icon-phone-set"></span></div>
				<p class="feature__text">разработка и внедрение мобильной версии платформы</p>
			</div>
			
			<div class="specific__content-block feature">
				<div class="feature__icon"><span class="icon-atom"></span></div>
				<p class="feature__text">интеграция платформы с большим количеством социальных сетей (Youtube, Ok.ru, Мой мир, Twitter)</p>
			</div>
			
			<div class="specific__content-block feature">
				<div class="feature__icon"><span class="icon-web-man"></span></div>
				<p class="feature__text">внедрение платформы для охвата пользователей из других стран СНГ и соответствующих языков</p>
			</div>
		</div>
	</section>
	
	<section class="results dp-block js_title-block js_light-box">
		<div class="results__title section-title"></div>
		
		<div class="results__content section-content">
			<p class="section-content__para">Технически проект был реализован в рекордные сроки - менее 3х недель от постановки задачи до первого персонализированного видео.</p>

			<p class="section-content__para">Промо-кампания с первых дней получила вирусный охват и сегодня ее покрытие превысило 15% всех пользователей до 25 лет на рынках, где промо было локализировано.</p>

			<p class="section-content__para">Тысячи уникальных видео, миллионы просмотров и лайков, а главное - сотни часов ненавязчивого контакта с брендом!</p> 
		</div>
		
		<div class="results__calendar calendar" id="js_calendar">
			<div class="calendar__text">
				<span class="calendar__top-text"><span>3</span> недели</span>
				<span class="calendar__top-text"><span>4</span> недели</span>
				<span class="calendar__top-text"><span>5</span> недель</span>
				<span class="calendar__top-text"><span>6</span> недель</span>
				<span class="calendar__top-text"><span>7</span> недель</span>
				<span class="calendar__top-text"><span>8</span> недель</span>
				<span class="calendar__top-text"><span>9</span> недель</span>
				
				<span class="calendar__bottom-text">срок реализации проекта</span>
			</div>
		</div>
	</section>
	
	<section class="cta">
		<p class="cta__text">
			Нужна промо-кампания такого уровня?
		</p>
		<a href="#" class="cta__button"><strong>Бесплатная</strong> консультация</a>
	</section>
</main>

<footer class="footer">
	<div class="footer__copyright">
		<a href="http://miritec.com" class="footer__logo-link">
			<img src="./assets/img/png/miritec-logo.png" alt="" class="footer__logo-miritec">
		</a>
		<a href="#" class="footer__logo-link">
			<span class="footer__logo-ipromo icon-iPromo-logo"></span>
		</a>
	</div>

	<div class="footer__contacts">
		<div class="footer__email">
			<a href="mailto:marketing@miritec.com" class="footer__email-link">marketing@miritec.com</a>
		</div>
		<div class="footer__socials">
			<a class="icon-linkedin" href="https://www.linkedin.com/company/miritec"></a>
			<a class="icon-facebook" href="https://www.facebook.com/miritec"></a>
			<a class="icon-youtube" href="https://www.youtube.com/channel/UCR1fX9RityyfX5cFwSt6FJg"></a>
		</div>
	</div>
</footer>
