{{!-- This is the base layout for the project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPromo Cola</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		
		<!-- Custom scroll -->
<!--		<link rel="stylesheet" href="/path/to/jquery.mCustomScrollbar.css" />-->
		
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    {{!-- Pages in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

<!--		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/6.1.19/browser.min.js"></script>-->
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
